.stepper-item::before,
.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px dashed #333;
  width: 100%;
  top: 20px;
  z-index: 1;
}



.stepper-item::before {
  left: -50%;
}

.stepper-item::after {
  left: 50%;
}

.stepper-item.active .step-counter {
  border-color: #fff;
  font-weight: bold;
}


.stepper-item.completed .step-counter {
  background-color: #fff;
  color: #000;
}

.stepper-item.completed::after {
  border-bottom-color: #fff;
  z-index: 3;
}

.stepper-item.completed::before,
.stepper-item.completed::after {
  border-bottom: 2px solid #fff;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}
